html {
    background-color: sandybrown;
    font-size: 15px;
    font-family: 'Open Sans' sans-serif;
}

body {
    background-color: blanchedalmond;
    margin: 50px 20%;
    border: 3px solid black;
    padding: 0 20px 20px 20px;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
    margin: 0;

}
p, li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
#my_id {
    color: blue;
}
.my_class{
    padding: 0;
    margin: 0%;
    border: 3px solid black;
    color: snow;
    background-color: blueviolet;
}
img[src]{
    width: 500px;
    display: block;
    margin: 0 auto;
}
a:hover{
    color: brown;
}